.timeline{
    width:70%;
    margin: auto;
    position: relative;
}

.timeline::before{
    content: " ";
    width:4px;
    height:100%;
    background-color: white;
}

.event{
    position: relative;
    margin-bottom: 50px;
    padding: 20px 20px 20px 60px;
    background-color: #8d8383;
    border-radius: 10px;
}